.nav-bar {
    width: 100%;
    height: 80px;
    box-shadow: 0px 2px 3px 1px rgb(228, 228, 228);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar .logo {
    display: flex;
    align-items: center;
}

.nav-bar .logo img {
    width: 80px
}

.nav-bar .buttons a {
    margin-left: 20px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.nav-bar .buttons button {
    margin-left: 40px;
    width: 150px;
    height: 45px;
    background-color: var(--blue);
    color: white;
    border: 2px solid var(--blue);
    cursor: pointer;
    border-radius: 30px;
}

.nav-bar .profile {
    display: flex;
    align-items: center;
}

.nav-bar .profile button {
    margin-left: 20px;
    margin-left: 40px;
    width: 150px;
    height: 45px;
    background-color: var(--blue);
    color: white;
    border: 2px solid var(--blue);
    cursor: pointer;
    border-radius: 30px;
}

.nav-bar .profile .setting {
    margin-left: 20px;
    cursor: pointer;
}

#settingBar {
    height: 0px;
}

.settingBar {
    width: 150px;
    height: 0px;
    background: rgb(250, 249, 249);
    position: absolute;
    right: 250px;
    z-index: 999;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgb(241, 240, 240);
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}

.settingBar .hover-buttons .hove {
    width: 100vh;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.settingBar .hover-buttons .hove:hover {
    background-color: var(--blue);
    color: white;
}

.home-page {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page .gradient {
    background-image: linear-gradient(#40136B, #6F2FAC);
    width: 80%;
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    text-align: center;
}

.home-page .gradient h1 {
    font-size: 45px;
    font-weight: bold;
}

.home-page .gradient h3 {
    text-transform: capitalize;
}

.home-page .flex-input-section {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page .flex-input-section .input-box {
    width: 700px;
    height: 70px;
    background-color: white;
    margin-top: 70px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(154, 154, 154);
}

.home-page .flex-input-section .input-box input {
    width: 35%;
    height: 40px;
    font-size: 20px;
    border: none;
    padding-left: 10px;
    outline: none;
}

.home-page .flex-input-section .input-box input::placeholder {
    color: rgb(154, 154, 154);
}

.home-page .flex-input-section .input-box button {
    width: 120px;
    height: 50px;
    background: var(--blue);
    border: 2px solid var(--blue);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.trusted-company-logos {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.trusted-company-logos .box-shadow {
    width: 80%;
    height: 80px;
    box-shadow: 0px 2px 3px 1px rgb(204, 204, 204);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trusted-company-logos .box-shadow img {
    width: 100px;
    margin-left: 40px;
}

.lower-extention {
    width: 100%;
    height: 500px;
}

.lower-extention .flex-extention {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.lower-extention .flex-extention .costome-search {
    width: 400px;
    height: 100vh;
    padding-left: 100px;
    border-right: 2px solid rgb(238, 238, 238);
}

.lower-extention .flex-extention p {
    color: rgb(96, 96, 96);
}

.lower-extention .flex-extention .listed-job-portals {
    width: 100%;
    height: 100vh;
    margin-left: 40px;
}

.lower-extention .flex-extention .costome-search .check-box {
    margin-top: 100px;
    font-size: 20px;
}

.lower-extention .flex-extention .costome-search .check-box .each-box {
    display: flex;
    margin-top: 20px;
}

.lower-extention .flex-extention .costome-search .check-box .each-box p {
    margin-left: 10px;
}

.lower-extention .flex-extention .costome-search .check-box .each-box input {
    width: 15px;
}

.lower-extention .flex-extention .costome-search .location-search {
    margin-top: 100px;
    font-size: 20px;
}

.lower-extention .flex-extention .costome-search .location-search .each-box {
    display: flex;
}

.lower-extention .flex-extention .costome-search .location-search .each-box p {
    margin-left: 10px;
}

.lower-extention .flex-extention .costome-search .location-search .each-box {
    margin-top: 20px;
}

.lower-extention .flex-extention .costome-search .location-search .each-box input {
    width: 15px;
}

.lower-extention .flex-extention .listed-job-portals .card-section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.lower-extention .flex-extention .listed-job-portals .job-card-section .card {
    width: 330px;
    height: 300px;
    box-shadow: 0px 0px 3px rgb(152, 152, 152);
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.lower-extention .flex-extention .listed-job-portals .job-card-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.lower-extention .flex-extention .listed-job-portals .job-card-section .card .info {
    margin-left: 20px;
}

.lower-extention .flex-extention .listed-job-portals .job-card-section .card .info .button-section {
    margin-top: 20px;
}

.lower-extention .flex-extention .listed-job-portals .job-card-section .card .info .button-section button {
    height: 40px;
    width: 110px;
    cursor: pointer;
}

#apply {
    border: 2px solid var(--blue);
    color: white;
    border-radius: 5px;
    background-color: var(--blue);
}

#white {
    border: 1px solid rgb(139, 139, 139);
    color: rgb(139, 139, 139);
    border-radius: 5px;
    background-color: transparent;
    margin-left: 10px;
}

.lower-extention .flex-extention .listed-job-portals .job-card-section .card img {
    width: 40px;
}